body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

.app {
    height: 100%;
    width: 100%;
}

.data-view {
    padding: 20px;
}

@media (orientation: portrait)  {
    .app > .map-view {
        height: 50%;
    }
    .app > .data-view {
        /* height: 50%; */
    }
}

@media (orientation: landscape)  {
    .app {
        display: flex;
    }
    .app > .map-view {
        flex: 1;
        /*height: 100%;*/
        /*width: 50%;*/
    }
    .app > .data-view {
        flex: 1;
        /*height: 100%;*/
    }
}

.refresh-icon {
    width: 25px;
    height: 25px;
}

.content-label {
    width: 300px;
    display: inline-block;
}



.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    background-color:#ccc;
    /* font-family: 'Pacifico', cursive; */
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red
{
    background-color: #E74C3C;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow
{
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
