body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

.app {
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .app > .map-view {
        height: 50%;
    }
    .app > .data-view {
        height: 50%;
    }
}

@media screen and (min-width: 900px) {
    .app {
        display: flex;
    }
    .app > .map-view {
        flex: 1;
        /*height: 100%;*/
        /*width: 50%;*/
    }
    .app > .data-view {
        flex: 1;
        /*height: 100%;*/
    }
}

.refresh-icon {
    width: 25px;
    height: 25px;
}

.content-label {
    width: 120px;
    display: inline-block;
}
